@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);
.BottomNavgation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.Menubar{
  overflow: hidden;
  position: fixed;
  top: 0;
  height:55px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px #888888;
  z-index: 2;
}

/*.header{
  left: 0;
  right:0;
  position: fixed;
  background-color: white;
  height:75px;
  top:55px;
    z-index: 1;
}
.header img{
  padding: 20px 25px;
  float:left;
}
.header h2{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 15px;
}*/
.filter{
  background-color: white;
  position: fixed;
  width: 100%;
  top: 128px;
    z-index: 1;
}
.main{
  /*background-color: #add8e6;*/
  margin-top: 187px;
  margin-bottom: 100px;
  z-index: -2;
}
.chartjs-render-monitor{
  width:600px;
}
